<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Title -->
    <title>盘锦中录油气技术服务有限公司</title>

    <!-- Favicon Ico -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- =============================
                stylesheets
    ================================== -->

    <!-- Normalize And Bootstrap -->
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/bootstrap1.min.css">

    <!-- Google Font  -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:600,700,400,300' rel='stylesheet' type='text/css'>

    <!-- Font Icons -->
    <link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.min.css" />

    <!-- Plugin Default Stylesheets -->
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/slider-pro.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.css">
    <link rel="stylesheet" href="../static/css/owl.theme.css">
    <link rel="stylesheet" href="../static/css/owl.transitions.css">
    <link rel="stylesheet" href="../static/css/animate.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css" />
    <link rel="stylesheet" href="../static/css/color.css" id="colors" />

    <!--[if lt IE 9]>
    <script src="../static/js/html5shiv.min.js"></script>
    <script src="../static/js/respond.min.js"></script>
    <script type="text/javascript" src="../static/js/selectivizr.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="status"></div>
    </div>

    <!-- =============================
                    Header
    ================================== -->
    <header>
        <!-- Navigation Menu start-->
        <nav class="navbar blete-main-menu" role="navigation">
            <div class="container">

                <!-- Navbar Toggle -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Logo -->
                    <a class="navbar-brand" href="../index"><img class="logo" id="logo" src="../static/images/logo.png" alt="logo"></a>

                </div>
                <!-- Navbar Toggle End -->

                <!-- navbar-collapse start-->
                <div id="nav-menu" class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav blete-menu-wrapper">
                        <li>
                            <a href="../index">网站首页</a>
                        </li>
                        <li>
                            <a href="../portfolio">关于我们</a>
                        </li>
                        <li>
                            <a href="../portfolio2">特色技术</a>
                        </li>
                        <li>
                            <a href="../pricing-table">人力资源</a>
                        </li>
                        <li>
                            <a href="../progress">核心产品</a>
                        </li>
                        <li>
                            <a href="../contact">联系我们</a>
                        </li>
                    </ul>
                </div>
                <!-- navbar-collapse end-->

            </div>
        </nav>
        <!-- Navigation Menu end-->
    </header>
    <!-- Header End -->


    <!-- =============================
                Main Slider
    ================================== -->
    <section class="slider-pro blete-slider" id="blete-slider">
        <div class="sp-slides">

            <!-- Slides -->
            <div class="sp-slide blete-main-slides">
                <div class="blete-img-overlay"></div>

                <img class="sp-image" src="../static/images/img-header/slider-img-1.jpg" alt="Slider 1"/>

                <h1 class="sp-layer blete-slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                创建精品工程，加速与国际接轨
                </h1>

                <p class="sp-layer"
                data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                    <span class="blete-highlight-text">Create high-quality projects</span> and speed up international integration
                </p>
            </div>
            <!-- Slides End -->

            <!-- Slides -->
            <div class="sp-slide blete-main-slides">
            <div class="blete-img-overlay"></div>
                <img class="sp-image" src="../static/images/img-header/slider-img-2.jpg" alt="Slider 2"/>

                <h1 class="sp-layer blete-slider-text-big"
                 data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                 创建精品工程，加速与国际接轨
                </h1>

                <p class="sp-layer"
                 data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                    <span class="blete-highlight-text">Create high-quality projects</span> and speed up international integration
                </p>
            </div>
            <!-- Slides End -->

            <!-- Slides -->
            <div class="sp-slide blete-main-slides">
                <div class="blete-img-overlay"></div>

                <img class="sp-image" src="../static/images/img-header/slider-img-3.jpg" alt="Slider 3"/>

                <h1 class="sp-layer blete-slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1000" data-hide-delay="200">
                创建精品工程，加速与国际接轨
                </h1>

                <p class="sp-layer"
                data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                   <span class="blete-highlight-text">Create high-quality projects</span> and speed up international integration
                </p>

            </div>
            <!-- Slides End -->

        </div>
    </section>
    <!-- Main Slider End -->

    <!-- =============================
                    About Section
    ================================== -->
    <section id="about" class="blete-section-wrapper">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown">
                    <h2>盘锦 <span class="blete-highlight-text">中录</span></h2>
                    <div class="blete-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">盘锦中录油气技术服务有限公司最早开始于1996年，是为服务中石油新区事业部地化解释项目而成立起来的专业化队伍。2007年1月在盘锦市工商行政管理局登记注册为有限责任公司是一家专业从事录井检测、油层解释评价服务、岩矿实验和地质测试服务的综合性集团公司。先后为中海油渤海探区、长庆油田、大庆油田海拉尔探区、四川油田等提供了多口井的地化录井检测及油层解释评价服务。为适应油田油气勘探开发生产工作的需要，经过不断发展完善，本公司已经成为一个专业性较强的综合石油录井服务队伍，拥有各类仪器设备，其中包括:油气显示评价仪、残余碳分析仪、油气组分综合评价仪、轻烃组分仪、岩石解析气测定仪、核磁共振岩样分析仪，井口气远程测定仪、离子色谱仪、页岩气组分分析仪，综合录井仪、油气评价工作站等国内外先进的测试仪器和实验设备。近年来，承担了石油地质勘探化验分析和油气田开发试验的各类检测工作，为大庆油田、长庆油田、青海油田、吐哈油田等提供了地化录井检测和解释评价服务，目前已发展成一个面向市场、为社会提供公证数据的产品质量检测机构。石油地质勘探，检测，测试，检验检测服务，岩石实验，石油天然气工程设计服务，海洋调查服务，录井工程技术服务，油气勘探开发技术研究，计算机软硬件设计开发服务，石油装备仪器研究开发，机械产品加工制造。</p>
                </div>
                <!-- Section Header End -->

                <!-- What We Do -->
                <div class="blete-what-we-do">

                    <div class="col-md-3 col-sm-3 col-xs-12 blete-blurb-round-icon wow bounceInLeft">
                        <div class="blete-icon">
                            <i class="fa fa-key"></i>
                        </div>
                        <h3 href='#one'>公司介绍</h3>
                        <p></p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 blete-blurb-round-icon wow bounceInLeft" data-wow-delay=".5s">
                        <div class="blete-icon">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <h3>资质荣誉</h3>
                        <p></p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 blete-blurb-round-icon wow bounceInRight" data-wow-delay=".5s">
                        <div class="blete-icon">
                            <i class="fa fa-search"></i>
                        </div>
                        <h3>员工风采</h3>
                        <p></p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 blete-blurb-round-icon wow bounceInRight" data-wow-delay=".5s">
                        <div class="blete-icon">
                            <i class="fa fa-html5"></i>
                        </div>
                        <h3>核心产品</h3>
                        <p></p>
                    </div>

                </div>
                <!-- What We Do End -->

            </div>
        </div>
    </section>
    <!-- About Section End -->


    <!-- =============================
                    Featuers Section
    ================================== -->
    <section id="features" class="blete-section-wrapper blete-features-section" data-stellar-background-ratio="0.5">
        <div class="blete-parallax-overlay"></div>
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header blete-section-header-parallax wow slideInDown">
                    <h2 id ='one'>关于 <span class="blete-highlight-text">我们</span></h2>
                    <div class="blete-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">实验室中心现有职工29人，其中工程师13人，助理工程师4人，技术员12人。各种分析测试设备配套齐全，价值近5000万元。2017年3月，实验室通过国家级（CMA）计量认证，获得市级工程技术中心相关资质。多年来，我室的基本任务是为地化录井检测技术服务，地质勘查评价等工作提供测试技术服务及与之相关的应用研究和开发研究。实验室建成4个具有特色功能的实验室：储层岩石物理实验室、油气地球化学实验室、非常规油气实验室和样品制备室。实验室下分为12个测试组和3个样品制备组。根据国家能源战略需求，在石油与天然气开采领域进行新理论，新方法和新技术研究，进一步建成石油与天然气勘探开发国家重点实验室。</p>
                </div>
                <!-- Section Header End -->

                <!-- Features -->
                <div class="blete-features">


                    <div class="col-md-4 col-sm-4 col-xs-12 wow rotateInDownLeft">




                    </div>
                </div>
                <!-- Features End -->

            </div>
        </div>
    </section>
    <!-- Featuers Section End -->


    <!-- =============================
                    Team Section
    ================================== -->
    <section id="team" class="blete-section-wrapper blete-team-section">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown">
                    <h2><span class="blete-highlight-text">资质</span>荣誉</h2>
                    <div class="blete-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">中录油气公司获得荣誉</p>
                </div>
                <!-- Section Header End -->

                <!-- Team Slider -->
                <div id="team-slider" class="owl-carousel blete-team-carousal col-md-12 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="2s">

                    <!-- Slides -->
                    <div class="blete-team-slides col-md-12 col-sm-12 col-xs-12">

                        <div class="blete-member-img-wrapper">
                            <img src="../static/images/img-team/team-img-1.png" alt="中国石油健康安全环境管理体系认证证书">
                        </div>

                        <div class="blete-member-details">
                            <h3>中国石油健康安全环境管理体系认证证书</h3>
                            <span class="blete-member-desg">盘锦中录油气技术服务有限公司</span>


                            <p>建立的健康安全环境管理体系符合标准，认证覆盖的范围包括,录井仪器设计制造,录井技术服务</p>

                            <ul class="blete-team-social-icon">
                                <li class="social-facebook">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="social-twitter">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="social-gplus">
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Slides End -->

                    <!-- Slides -->
                    <div class="blete-team-slides col-md-12 col-sm-12 col-xs-12">

                        <div class="blete-member-img-wrapper">
                            <img src="../static/images/img-team/team-img-2.png" alt="检验检测机构资质认定证书">
                        </div>

                        <div class="blete-member-details">
                            <h3>检验检测机构资质认定证书</h3>
                            <span class="blete-member-desg">盘锦中录油气技术服务有限公司</span>
                            <p>本证书由国家认证认可监督管理委员会监制，在中华人民共和国境内有效</p>
                            <ul class="blete-team-social-icon">
                                <li class="social-facebook">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="social-twitter">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="social-gplus">
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Slides End -->

                    <!-- Slides -->
                    <div class="blete-team-slides col-md-12 col-sm-12 col-xs-12">

                        <div class="blete-member-img-wrapper">
                            <img src="../static/images/img-team/team-img-1.png" alt="质量管理体系认证证书">
                        </div>

                        <div class="blete-member-details">
                            <h3>质量管理体系认证证书</h3>
                            <span class="blete-member-desg">盘锦中录油气技术服务有限公司</span>
                            <p>建立的质量管理体系符合标准，认证覆盖范围包括：录井仪器设计制造，录井技术服务</p>
                            <ul class="blete-team-social-icon">
                                <li class="social-facebook">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="social-twitter">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="social-gplus">
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Slides End -->

                    <!-- Slides -->
                    <div class="blete-team-slides col-md-12 col-sm-12 col-xs-12">

                        <div class="blete-member-img-wrapper">
                            <img src="../static/images/img-team/team-img-4.png" alt="职业健康安全管理体系认证证书">
                        </div>

                        <div class="blete-member-details">
                            <h3>职业健康安全管理体系认证证书</h3>
                            <span class="blete-member-desg">盘锦中录油气技术服务有限公司</span>
                            <p>建立的职业健康安全体系符合标准，认证覆盖范围包括：录井仪器设计制造，录井技术服务</p>
                            <ul class="blete-team-social-icon">
                                <li class="social-facebook">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="social-twitter">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="social-gplus">
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Slides End -->

                    <!-- Slides -->
                    <div class="blete-team-slides col-md-12 col-sm-12 col-xs-12">

                        <div class="blete-member-img-wrapper">
                            <img src="../static/images/img-team/team-img-5.png" alt="高新技术企业">
                        </div>

                        <div class="blete-member-details">
                            <h3>高新技术企业</h3>
                            <span class="blete-member-desg">盘锦中录油气技术服务有限公司</span>
                            <p>本公司与二零一六年十一月十三日由各机关单位审批通过，获得了辽宁省高新技术企业称号</p>
                            <ul class="blete-team-social-icon">
                                <li class="social-facebook">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="social-twitter">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="social-gplus">
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Slides End -->

                    <!-- Slides -->
                    <div class="blete-team-slides col-md-12 col-sm-12 col-xs-12">

                        <div class="blete-member-img-wrapper">
                            <img src="../static/images/img-team/team-img-6.png" alt="先进团总文">
                        </div>

                        <div class="blete-member-details">
                            <h3>先进团总文</h3>
                            <span class="blete-member-desg">盘锦中录油气技术服务有限公司</span>
                            <p>二零一零年五月份中国共产主义青年团与盘锦经济开发区委员会共同颁发</p>
                            <ul class="blete-team-social-icon">
                                <li class="social-facebook">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="social-twitter">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="social-gplus">
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Slides End -->

                </div>
                <!-- Team Slider End -->
            </div>
        </div>
    </section>
    <!-- Team Section End -->



    <!-- =============================
                Featured Work Section
    ================================== -->
    <section id="featured-works" class="blete-section-wrapper blete-section-work">
        <!-- Container -->
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown">
                    <h2><span class="blete-highlight-text">特色</span>技术</h2>
                    <div class="blete-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">录井技术 解释评价 实验分析 大数据分析</p>
                </div>
                <!-- Section Header End -->

            </div>
        </div>
        <!-- Container End -->

        <!-- Featured Works Slider -->
        <div class="container-fluid">
            <div class="row-fluid">

                <div class="blete-portfolio-work-slider-section wow fadeIn" data-wow-duration="2s">
                    <div id="featured-work-slider" class="owl-carousel blete-portfolio-works-slider">

                        <!-- Work 1 -->
                        <div class="blete-portfolio-work-item">

                            <img src="../static/images/img-work/work1.jpg" alt="work">
                            <div class="blete-port-work-details">
                                <ul class="blete-work-meta">
{#                                    <li class="blete-lighbox"><a href="../static/images/img-work/work1.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>#}
                                </ul>
                            </div>

                        </div>
                        <!-- Work 1 End -->

                        <!-- Work 3 -->
                        <div class="blete-portfolio-work-item">

                            <img src="../static/images/img-work/work3.jpg" alt="work">
                            <div class="blete-port-work-details">
                                <ul class="blete-work-meta">
{#                                    <li class="blete-lighbox"><a href="../static/images/img-work/work3.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>#}
                                </ul>
                            </div>

                        </div>
                        <!-- Work 3 End -->


                        <!-- Work 5 -->
                        <div class="blete-portfolio-work-item">

                            <img src="../static/images/img-work/work5.jpg" alt="work">
                            <div class="blete-port-work-details">
                                <ul class="blete-work-meta">
{#                                    <li class="blete-lighbox"><a href="../static/images/img-work/work5.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>#}
                                </ul>
                            </div>

                        </div>
                        <!-- Work 5 End -->

                        <!-- Work 5 -->
                        <div class="blete-portfolio-work-item">

                            <img src="../static/images/img-work/work5.jpg" alt="work">
                            <div class="blete-port-work-details">
                                <ul class="blete-work-meta">
{#                                    <li class="blete-lighbox"><a href="../static/images/img-work/work5.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>#}
                                </ul>
                            </div>

                        </div>
                        <!-- Work 5 End -->





                    </div>
                </div>
            </div>
        </div>
        <!-- Featured Works Slider -->

    </section>
    <!-- Featured Work End -->



    <!-- =============================
                Portfolio Section
    ================================== -->
    <section id="portfolio" class="blete-portfolio-section">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown">
                    <h2>员工 <span class="blete-highlight-text">风采</span></h2>
                    <div class="blete-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">诚为上 人为本 学为基 创为恒</p>
                </div>
                <!-- Section Header End -->

            </div>
        </div>

        <!-- Works -->
        <div class="blete-portfolio-works wow fadeIn" data-wow-duration="2s">

            <!-- Filter Button Start -->
            <div id="blete-portfolio-filter" class="blete-portfolio-filter-btn-group">
                <ul>
                    <li>
                        <a href="#" class="selected" data-filter="*">全部</a><!--
                         --><a href="#" data-filter=".web-design">现场施工</a><!-- 
                         --><a href="#" data-filter=".web-development">实验室实验</a><!-- 
                         --><a href="#" data-filter=".app-development">办公室工作</a><!-- 
                         --><a href="#" data-filter=".photography">集体活动</a>
                    </li>
                </ul>
            </div>
            <!-- Filter Button End -->

            <div class="blete-portfolio-items">

                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item web-design">

                    <img src="../static/images/img-portfolio/portfolio1.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="../static/images/img-portfolio/portfolio1.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item web-development">

                    <img src="../static/images/img-portfolio/portfolio2.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="../static/images/img-portfolio/portfolio2.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item web-design">

                    <img src="../static/images/img-portfolio/portfolio3.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="../static/images/img-portfolio/portfolio3.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item web-design">

                    <img src="../static/images/img-portfolio/portfolio4.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="../static/images/img-portfolio/portfolio4.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio Items -->

                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item web-development">

                   <img src="../static/images/img-portfolio/portfolio5.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="../static/images/img-portfolio/portfolio5.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item web-design">

                    <img src="../static/images/img-portfolio/portfolio6.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="../static/images/img-portfolio/portfolio6.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->


            </div>
        </div>
        <!-- Works End -->


    </section>
    <!-- Portfolio Section End -->

    <!-- =============================
                Custom Section
    ================================== -->
    <section class="blete-custom-sec blete-section-wrapper blete-description">
        <div class="container">
            <div class="row">
                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown">
                    <h2>核心 <span class="blete-highlight-text">产品</span></h2>
                    <div class="blete-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">YQ-VII-A油气显示评价仪</p>
                </div>
                <!-- Section Header End -->

                <div class="col-md-6 col-sm-6 col-xs-12 blete-custom-sec-img wow bounceInLeft">
                    <a href="http://www.qq.com"><img src="../static/images/features.png" title="点击查看更多特色技术"></a>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 blete-custom-sec-text wow bounceInRight">
                    <p>直接分析研究石油钻井返出的钻井液和混合岩屑的热解分析技术，为钻井现场录井研究，增添了一种新的研究方法。在钻井过程中，可以根据岩屑颗粒或泥浆中油气浓度及其热解特性，研究地层岩石含有机质丰度、性质以及含油气丰度和油质轻重等。</p>
                    <p>技术指标：

                        电源:AC220V±22V，50Hz±3Hz
                        功率:≤1500W
                        外形:590mmX660mmX500mm
                        气源：（压力、流量）
                        空气:0.3MPa，1000ml/min
                        氮气:0.3MPa，300ml/min，纯度:99.995%以上
                        氢气:0.3MPa，300ml/min，纯度:99.995%以上</p>
                    <ul>
                        <li><i class="fa fa-check"></i>先进的计算机控制</li>
                        <li><i class="fa fa-check"></i>全面的故障诊断、报警功能</li>
                        <li><i class="fa fa-check"></i>强大的数据处理软件</li>
                        <li><i class="fa fa-check"></i>强劲的数据处理和数据导出功能</li>
                        <li><i class="fa fa-check"></i>可靠的材料与做工</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Custom Section End -->


    <!-- =============================
            Pricing Section
    ================================== -->
    <section id="pricing" class="blete-pricing-section">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown">
                    <h2><span class="blete-highlight-text">人才招聘</span></h2>
                    <div class="blete-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">我们深切关注员工的职业发展，“做企业如做人”，人的修养、人的品德、人的理念决定了企业的品牌之道、企业的经营之道。我们始终坚持“以人为本”，“人赢则赢”的用人理念，为企业培养真正具有国际化素质和国际竞争力的人才</p>
                </div>
                <!-- Section Header End -->

                <div class="blete-pricing-wrapper">

                    <!-- Plans -->
                    <div class="col-md-4 col-sm-4 col-xs-12 blete-pricing-plans wow bounceInLeft pricing-plan-one">
                        <div class="blete-pricing-titles">
                            <h2>内勤 (文员/前台/接待)</h2>
                            <p><span>4000/</span>月</p>
                        </div>
                        <div class="blete-pricing-service-name">
                            <ul>
                                <li>招聘类别：全职</li>
                                <li>招聘部门：经营部</li>
                                <li>招聘人数：一人</li>
                                <li>学历要求：大专</li>
                                <li>性别要求：男</li>
                                <li>年龄要求： 20 ～35</li>
                                <li>工作地点：辽宁省盘锦市兴隆台区</li>
                            </ul>
                        </div>

                        <a href="#" class="blete-signup-btn">联系我们</a>
                    </div>
                    <!-- Plans End -->

                    <!-- Plans -->
                    <div class="col-md-4 col-sm-4 col-xs-12 blete-pricing-plans blete-recommended-pricing wow fadeInUp" data-wow-duration="1s">
                        <div class="blete-pricing-titles">
                            <h2>电气自动化控制工程师 (生产/制造类)</h2>
                            <p><span>8000/</span>月</p>
                        </div>
                        <div class="blete-pricing-service-name">
                            <ul>
                                <li>招聘类别：全职</li>
                                <li>招聘部门：仪器生产开发部</li>
                                <li>招聘人数：若干人</li>
                                <li>学历要求：大专</li>
                                <li>性别要求：不限</li>
                                <li>专业要求：石油机械</li>
                                <li>工作地点：辽宁省</li>
                            </ul>
                        </div>

                        <a href="#" class="blete-signup-btn">联系我们</a>
                    </div>
                    <!-- Plans End -->

                    <!-- Plans -->
                    <div class="col-md-4 col-sm-4 col-xs-12 blete-pricing-plans wow bounceInRight">
                        <div class="blete-pricing-titles">
                            <h2>地质综合研究人员 (石油勘探类)</h2>
                            <p><span>10000/</span>月</p>
                        </div>
                        <div class="blete-pricing-service-name">
                            <ul>
                                <li>招聘类别：全职</li>
                                <li>招聘部门：解释评价中心</li>
                                <li>招聘人数：若干人</li>
                                <li>工作经验：无</li>
                                <li>学历要求：大学本科</li>
                                <li>专业要求：石油地质,石油物探</li>
                                <li>工作地点：辽宁省</li>
                            </ul>
                        </div>

                        <a href="#" class="blete-signup-btn">联系我们</a>
                    </div>
                    <!-- Plans End -->

                </div>
            </div>
        </div>
    </section>
    <!-- Pricing End -->


    <!-- =============================
                联系我们
    ================================== -->
    <section id="contact" class="blete-section-wrapper blete-contact-section" data-stellar-background-ratio="0.5">
    <div class="blete-parallax-overlay"></div>
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown blete-section-header-parallax">
                    <h2>联系 <span class="blete-highlight-text">我们</span></h2>
                    <div class="blete-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">我们为志存高远、渴望成功的人才创造了广阔的发展空间！</p>
                </div>
                <!-- Section Header End -->

                <div class="blete-contact-details">

                    <!-- Address Area -->
                    <div class="col-md-5 col-sm-4 col-xs-12 blete-contact-address wow bounceInLeft">
                        <p>我公司近几年业务发展的历程证明，无论是风华正茂的大学毕业生，还是设计师，销售人员，亦或各类管理人员，在盘锦中录日新月异的业务发展与宏伟事业中，都能找到了自己施展才华的舞台。精彩的事业吸引他们为之奋斗，有效的发展体系引领他们全面提升个人的业务技能与职业素养。这也印证了“真知来于艰苦的磨难，成功源于正确的动机”</p>
                        <ul>
                            <li class="blete-office-address"><i class="fa fa-home"></i>辽宁省盘锦市兴隆台区<br>盘锦中录油气技术服务有限公司<br>王先生</li>
                            <li class="blete-phone"><i class="fa fa-phone"></i>12345678</li>
                            <li class="blete-email"><i class="fa fa-envelope-o"></i>12345678@qq.com</li>
                            <li class="blete-web"><i class="fa  fa-globe"></i>www.zlpj.com</li>
                        </ul>
                    </div>

                    <!-- Address Area End -->

                    <!-- Contact Form -->
                    <div class="col-md-7 col-sm-8 col-xs-12 blete-contact-form wow bounceInRight">
                        <div id="contact-result"></div>
                        <div id="contact-form">
                            <div class="blete-input-name blete-input-fields">
                                <input type="text" name="name" id="name" placeholder="您的名字">
                            </div>

                            <div class="blete-input-email blete-input-fields">
                                <input type="email" name="email" id="email" placeholder="您的邮箱">
                            </div>

                            <div class="blete-input-message blete-input-fields">
                                <textarea name="message" id="message" cols="30" rows="10" placeholder="留言内容"></textarea>
                            </div>

                            <input type="submit" value="提交" id="submit-btn">
                        </div>
                    </div>
                    <!-- Contact Form End -->

                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section End -->




    <!-- =============================
                SCRIPTS   <=============================
                Footer Section
    ================================= -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h3>关于我们</h3>
                    <ul>
                        <li><span>盘锦中录油气技术服务有限公司最早开始于1996年，是为服务中石油新区事业部地化解释项目而成立起来的专业化队伍。2007年1月在盘锦市工商行政管理局登记注册为有限责任公司是一家专业从事录井检测、油层解释评价服务、岩矿实验和地质测试服务的综合性集团公司。先后为中海油渤海探区、长庆油田、大庆油田海拉尔探区、四川油田等提供了多口井的地化录井检测及油层解释评价服务。</span></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>友情链接</h3>
                    <ul>
                        <li><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>页面</h3>
                    <ul>
                        <li><a href="">网站首页</a></li>
                        <li><a href="">关于我们</a></li>
                        <li><a href="">特色技术</a></li>
                        <li><a href="">人力资源</a></li>
                        <li><a href="">核心产品</a></li>
                        <li><a href="">联系我们</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </footer>
    <!-- Footer End -->
    <div class="thn">
         <div class="container thn">
            <div class="row">
                <div class="blete-footer-content">

                    <a class="footMainInfoKkbInfoA" href="https://beian.miit.gov.cn/" target="_blank" style="color: rgb(248, 249, 251);">页面版权归盘锦中录油气技术服务有限公司所有 辽ICP备11014439号</a>

                </div>
            </div>
        </div>
    </div>

    ================================== -->
    <script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/modernizr.min.js"></script>
    <script src="../static/js/jquery.easing.1.3.js"></script>
    <script src="../static/js/jquery.scrollUp.min.js"></script>
    <script src="../static/js/jquery.easypiechart.js"></script>
    <script src="../static/js/jquery.countTo.js"></script>
    <script src="../static/js/isotope.pkgd.min.js"></script>
    <script src="../static/js/jflickrfeed.min.js"></script>
    <script src="../static/js/jquery.fitvids.js"></script>
    <script src="../static/js/jquery.stellar.min.js"></script>
    <script src="../static/js/jquery.waypoints.min.js"></script>
    <script src="../static/js/wow.min.js"></script>
    <script src="../static/js/jquery.nav.js"></script>
    <script src="../static/js/imagesloaded.pkgd.min.js"></script>
    <script src="../static/js/smooth-scroll.min.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/jquery.sliderPro.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/custom.js"></script>

</body>
</html>
